
body {
  position: relative;
  padding-top: 50px;
  font-family: 'Roboto Condensed', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background: url("../img/banner.png") repeat 0 0;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: #ccc;
}
h1, h2, h3, h4 {
  color: #ffb400;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}
a {
  color: #ffb400 !important;
}
a:hover,
a:active {
  color: #b38007 !important;
}
.centered {
  margin: 0 auto;
}
.vertical-spacing {
  margin-top: 40px;
  margin-bottom: 40px;
}
.top-spacing {
  margin-top: 10px;
}
::selection {
  background: #ff82ff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff82ff; /* Gecko Browsers */
}


.main-navbar {
  min-height: 50px;
}
.main-navbar .container {
  position: relative;
}
.main-navbar .nav {
  float: none;
  display: table;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
}
.main-navbar .logo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.main-navbar.affix .logo {
  -webkit-transform: translate(-25%, -25%) scale(0.5, 0.5);
  transform: translate(-25%, -25%) scale(0.5, 0.5);
}
.main-navbar .social-btns {
  position: absolute;
  right: 0;
  top: 11px;
  font-size: 14px;
}

section > .container {
  background-color: rgba(34, 34, 34, 0.95);
}
.section-title {
  margin-top: 0;
  padding-right: 10px;
  border-top: 8px solid;
  text-align: right;
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  font-size: 54px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
}

.games-section {
  margin-top: 160px;
}
.game-logo {
  opacity: 0.7;
  background-clip: content-box;
  background-color: #080808;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.game-logo.active,
.game-logo:hover {
  opacity: 1;
}
.game-logo .info-text {
  padding: 0 20px 20px;
  text-transform: uppercase;
  text-align: right;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s;
}
.game-logo .info-text-show,
.game-logo.active .info-text-hide {
  display: block;
}
.game-logo.active .info-text-show,
.game-logo .info-text-hide {
  display: none;
}
.games-section article {
  overflow: hidden;
  margin-bottom: 30px;
}
.games-section article h3 {
  margin-top: 0;
}
.games-section .marked-text {
  text-transform: uppercase;
  text-decoration: underline;
}

.about-section .video-iframe {
  width: 100%;
  height: 600px;
  border: 0;
}
/* UNCOMMENT here and in index.html to see facebook plugin */

/*.about-section .facebook-iframe {
  display: block;
  margin: 0 auto;
  border: none;
  overflow: auto;
}*/

.team-member:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffb400;
}
.team-member img {
  border-radius: 50%/20%;
  border: 8px double;
}
.team-member h3 {
  font-size: 32px;
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
}

.contacts-section .container {
  position: relative;
  font-size: 20px;
}
.address {
  padding: 15px;
}
.address span {
  line-height: 1.8;
}

/* UNCOMMENT here and in index.html to see paralax images */

/*.img-paralax {
  position: absolute;
	z-index:-1;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.img-rocket {
  background: url("../img/rocket.png") no-repeat 0 0;
}
.img-alien {
  background: url("../img/alien.png") no-repeat 0 0;
}*/
.btn-go-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 0;
  color: #333 !important;
  background-color: #ffb400;
}
.btn-go-top:hover,
.btn-go-top:focus,
.btn-go-top:active {
  color: #333 !important;
  background-color: #b38007;
}


@media only screen and (max-width : 992px) {
  body {
    font-size: 16px;
  }
  .games-section {
    margin-top: 0;
  }
  .main-navbar .logo {
    -webkit-transform: translate(-25%, -25%) scale(0.5, 0.5);
    transform: translate(-25%, -25%) scale(0.5, 0.5);
  }
}
@media only screen and (max-width : 768px) {
  .vertical-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .main-navbar {
    padding: 0;
  }
  .main-navbar .nav {
    display: block;
    text-align: center;
  }
  .main-navbar .toggle:focus {
    color: #337ab7;
  }
  .main-navbar .social-btns {
    position: fixed;
    right: 50px;
    top: 9px;
  }
  .game-logo {
    margin-bottom: 20px;
  }
  .game-logo .info-text {
    padding: 0 10px 10px;
  }
  .about-section .video-iframe {
    height: 300px;
  }
}
@media only screen and (min-width : 992px) {
  .address {
    position: absolute;
    right: 10px;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: right;
  }
}
